element.style {
}

.index-hero__image__2lSCfSfD  {
    position: absolute;
    left: 0;
}

.layout-root__3OU5Rbqg {
    background-color: aqua;
    font-family: 'Muli', cursive;
    font-size: 1rem;
    color: yellow;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

body {
    margin: 5;
    padding: 5;
    font-family: sans-serif;
}
user agent stylesheet
body {
    display: block;
    margin: 10px;
}
html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}

html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
display:block;
font-family:
sans-serif;
font-size:14px;
height:6806.48px;
margin-bottom:0px;
margin-left:0px;
margin-right:0px;
margin-top:0px_;
}